*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
        
   

}
nav{
     background-color:#FFFFFF;
    margin: 0 120px;
    display: flex;
    gap: 345px;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 139px;
    margin: 16px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px; 
    font-size: 16px;
}
.btn1{
    border: none;
    border-radius: 4px;
    width: 164px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    color: #FFFFFF;
}
.btn1ex{
    width:251px;
    height: 52px;
}
#banner{
    background-image: url(../assets/hero-bg.png);
    height:674px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#banner .banner-content{
    width: 85%;
    max-width: 770px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
     margin-top: 69.5px;
     margin-bottom: 179.5px;
}
.btn2{
     border: none;
    border-radius: 1000px;
    width: 229px;
    font-size: 16px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
}
#banner .banner-content .wh{
    color: #FFFFFF;
}
#banner .banner-content .gr{
     color: rgba(70, 145, 101, 1);
}
#banner .banner-content h1{
    line-height: 84px;
    font-size: 72px;
    margin-bottom: 16px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
.btn3{
       border: 1px solid white;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: transparent;

}
.banner-content .btns{
    display: flex;
    gap: 16px;
    justify-content: center;
}
button{
    cursor: pointer;
    
}
#notes{
    margin-top: 50px;
    padding: 0 120px 0;
}
#notes .note-container,.solution-container,.frame-box{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.section-heading{
    max-width: 770px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 44px;
}.section-heading h2,.solution-box h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}
#notes .note-container .notebox{
    display: flex;
    gap: 24px;
}
.notebox .note-card{
    padding: 24px;
    max-width: 322px;
   border-radius: 8px;
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
   background: rgba(255, 255, 255, 1);
   text-align: center;
}
.notebox .note-card img{
    background-color: #F95555;
    border-radius:50%;
    /* width: 32px;
    height: 32px; */
    margin-top: 40px;
    padding: 10px 10px;
}
.notebox .note-card h3{
    padding: 16px 24px;
}
.notebox .note-card p{
     font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 5px;
}
#solution{
    padding: 120px 120px;
}
#solution .solution-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.solution-container .solution-image{
    width: 600px;
    height: 600px;
}
.solution-container .solution-box p{
    font-size: 16px;
    line-height: 20px;
}
.solution-box .gr{
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
}
.solution-box .gy{
    color: #627382;
    margin-bottom: 40px;
}
.solution-box h2{

}
.solution-box .list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#frame{
    padding: 2px 120px 120px ;
}
#frame .frame-box{
    background-color: #F7F6F2;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#frame .frame-box h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
#frame .frame-box p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.frame-box .btn5{
    border: none;
    border-radius: 4px;
    width: 194px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    color: #FFFFFF;
    margin-bottom: 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}


