*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color:#FFFFFF;
}
nav{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo{
    width: 139px;
    margin: 16px 120px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px; 
    font-size: 16px;
    margin: 0 auto;
}
.btn1{
    border: none;
    border-radius: 4px;
    width: 164px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    color: #FFFFFF;
    margin-right: 120px;
}

